@{ Layout = null;
}
@model Liantanjie.Models.LoginModel
<head>
    <title>登录</title>
    <script src="~/js/jquery-1.7.1.js" type="text/javascript"></script>
    <link href="~/css/style.css" rel="stylesheet" type ="text/css" />
    <link href="~/css/bootstrap.css" rel="stylesheet" type ="text/css" />
</head>
<body>
    @using (@Html.BeginForm(new { @class = "form-horizontal", role = "form" }))
    {
        @Html.Hidden("ReturnUrl",Model.ReturnUrl)
        <div class="form-group col-md-1">
            @Html.LabelFor(m => m.Account, new {@class = "sr-only"})
            @Html.TextBoxFor(m => m.Account, new {@class = "form-control", placeholder = "输入账号"})

        </div>
        <div class="clearfix"></div>
        <div class="form-group col-md-1">
            @Html.LabelFor(m => m.Password, new {@class = "sr-only"})
            @Html.PasswordFor(m => m.Password, new {@class = "form-control", placeholder = "输入密码"})

        </div>
         <div class="clearfix"></div>
        if (Model.IsVerifyCode)
         {
             <div class="form-group col-md-1">
                 @Html.Label("验证码")
                 <input type="text" name="verifyCode" autocomplete="off" class="YZM text left"/><img id="verifyImage" style="cursor: pointer" title="点击刷新验证码" onclick=" this.src = '/tool/verifyimage?time=' + new Date() " src="/tool/verifyimage" height="34" class="left"/>
             </div>
        <div class="clearfix"></div>
         }
        if (MallPageContext.PromptLst.Count > 0)
        {
            @Html.Label(MallPageContext.PromptLst[0])
        }
        <div class="form-group">
            <div class="col-md-1">
                <input type="submit" value="登录" class="btn btn-default" />
            </div>
        </div>
    }
</body>
